.carousel-inner img {
  margin: auto;
}
.carousel-control, .carousel-control:focus, .carousel-control:hover {
    color: #747474;
}
.carousel-control.left, .carousel-control.right{ 
/*background-image: linear-gradient(to right,grey 0,black 100%); */
    background-image: none;
}
#myCarousel {
    margin-bottom: 10px;
}
.require::after {
    color: red;
    content: " *";
}
.bs-callout {
    padding: 19px;
    margin: 20px 0;
    border: 1px solid grey;
    border-left-width: 5px;
    border-radius: 3px;
}
